__pycache__/
*.py[cod]
*.pyo
*.pyd

*.pyc

venv/
.venv/
env/
.env/

*.log

.ipynb_checkpoints/



*.o
*.obj

*.out
a.out
*.exe

*.a

build/
cmake-build*/

.vscode/

# macOS
.DS_Store

# Runtime/local app data
imgui.ini
locations1.jsonl
merged_locations.json